# Ignorar dependencias locales (¡Crucial para la velocidad!)
node_modules
**/node_modules

# Ignorar builds locales
web/build
dist
.next

# Archivos de entorno y git
.git
.env
.env.*
.DS_Store

# Logs de error y debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuraciones locales de agentes o editores
.vscode
.idea
.agent
.atl
openspec
